---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---
<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/juanpaz.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/juan-paz-10612583/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Listo para Apoyar en Tus Proyectos</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey!, soy Juan Paz 
  </h1>
  
   
    <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
     Profesional : Chief Digital Officer<strong> MIT - Mens, Manus et Cor </strong> +15 años de experiencia. <strong
      >Ingeniero de Software y Arquitecto Cloud. </strong> <a href="https://colombia.travel/es/cali" target="_blank">Soy de Cali Ve! </a>. Certificado  en :
    </p> 
    <div class="flex gap-4 mb-4">
      <b> CDO MIT </b>
      <img
      class="rounded-full shadow-lg size-10"
      src="/mit.webp"
      alt={personalImageAlt}
    />
      <b> GCP Google </b>    
      <img
      class="rounded-full shadow-lg size-10"
      src="/cgp_arq.webp"
      alt={personalImageAlt}
      />  <b>Azure Microsoft </b>
       <img
      class="rounded-full shadow-lg size-10"
      src="/azure.webp"
      alt={personalImageAlt}
      />
    </div> 

    <b>OCI  Oracle   </b><img
      class="rounded-full shadow-lg size-10"
      src="/oracle.webp"
      alt={personalImageAlt}
      />
  
   
      
      
   <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:juan.paz.h@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/juan-paz-10612583/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
